* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    background: #f9f9f9;
    font-family: "Segoe UI", sans-serif;
    text-align: center;
    flex-direction: column;
}

html {
    height: 100%;
    font-size: 16px;
    scroll-behavior: smooth;
}

button, input, textarea, select {
    font: inherit;
}

main {
    width: 100%;
    max-width: 1400px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
}

.header-container {
    max-width: 1400px;
    width: 100%;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navigation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header.scrolled {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.main-menu {
    list-style: none;
    display: flex;
    gap: 4rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

.main-menu a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    position: relative;
    transition: color 0.2s ease;
    font-family: "Segoe UI", sans-serif, normal;
    font-size: 20px;
}

.main-menu a.active {
    font-weight: 600;
    color: #000;
}

.main-menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #0085FF;
    transition: width 0.3s ease;
}

.main-menu a:hover::after {
    width: 100%;
}

.btn {
    text-decoration: none;
}

.btn-login {
    font-family: sans-serif, "Segoe UI Semibold";
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    padding: 24px;
}

.btn-login:hover {
    text-decoration: none;
    color: #0085FF;
}

.btn-demo {
    font-family: sans-serif, "Segoe UI Semibold";
    font-size: 20px;
    color: #ffffff;
    background-color: #0085FF;
    width: 152px;
    height: 50px;
    padding: 15px 70px;
    border-radius: 5px;
}

.btn-demo:hover {
    text-decoration: none;
    background-color: #0065C2;
}

.hero-section {
    width: 100%;
    height: 580px;
    background-color: #F0F8FF;
    margin-top: 85px;
}

.hero-container {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-img {
    width: 50%;

}

.hero-img img {
    max-width: 100%;
    max-height: 100%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero-text {
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
    font-family: "Segoe UI Semibold";
    color: #004889;
    text-align: left;
    line-height: 110%;
    margin-bottom: 16px;
}

.lead-text {
    font-family: "Segoe UI regular";
    font-size: 24px;
    color: #004889;
    line-height: 130%;
    text-align: left;
    margin-bottom: 30px;
}

.btn-hero-demo {
    font-family: sans-serif, "Segoe UI Semibold";
    font-size: 18px;
    color: #ffffff;
    background-color: #0085FF;
    padding: 22px 28px;
    border-radius: 10px;
    margin-top: 30px;
}

.btn-hero-demo:hover {
    text-decoration: none;
    background-color: #0065C2;
}

.btn-pricing {
    font-family: sans-serif, "Segoe UI Semibold";
    font-size: 18px;
    color: #0085FF;
    background-color: #F0F8FF;
    width: 248px;
    height: 66px;
    border-radius: 10px;
    border: 1px solid #0085FF;
    cursor: pointer;
    margin-left: 32px;
}

.btn-pricing:hover {
    text-decoration: none;
    background-color: #D8EDFF;
}

.welcome-section {
    height: 280px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: stretch; /* важно */
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* центрируем блок <p> */
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    position: relative;
    box-sizing: border-box;
}

.description {
    font-family: "Segoe UI", sans-serif;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 15px;
    text-align: center;
    z-index: 1;
}

.highlight {
    color: #0085FF;
}

.bold {
    font-weight: bold;
}

hr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    border-top: 1px solid #BADEFF;
}

h2 {
    all: unset;
    display: block;
    font-family: "Segoe UI", sans-serif;
    font-size: 40px;
    margin-bottom: 18px;
}

.usp-section {
    min-height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
}

.usp-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.line-1, .line-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.line-1 {
    margin-top: 40px;
    max-width: 1200px;
}

.usp-item {
    display: flex;
    flex-direction: column;
}

.usp-item-text {
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    color: #000000;
    line-height: 130%;
    text-align: center;
}

.item-title {
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    line-height: 110%;
}

.usp-item-title {
    background-color: #BADEFF;
    padding: 6px 25px;
    border-radius: 25px;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 22px;
}

.clients-section {
    height: 550px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-container {
    background-image: url("assets/images/bg-clients-section-left.png"), url("assets/images/bg-clients-section-right.png");
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    width: 1400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
}

.clients-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients-item-title {
    width: 220px;
    text-align: right;
    align-self: flex-start;
    margin-top: 5px;
    font-size: 20px;
}

.vertical-line {
    width: 1px;
    height: 75px;
    background-color: #BADEFF;
    margin: 0 18px 0 28px;
}

.item-text {
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    text-align: left;
    line-height: 160%;
    width: 650px;
}

.pricing-section {
    height: 700px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-container {
    width: 1400px;
}

tr {
    font-family: "Segoe UI", sans-serif;
    font-size: 25px;
    height: 110px;
    text-align: center;
    width: 1400px;
}

table {
    margin-top: 44px;
    width: 100%;
    border-collapse: collapse;
}

.table-bg {
    background-color: #F0F8FF;
}

.btn-select {
    font-family: "Segoe UI Semibold", sans-serif;
    font-size: 23px;
    color: #ffffff;
    background-color: #0085FF;
    border: none;
    width: 220px;
    height: 65px;
    border-radius: 10px;
}

.btn-select:hover {
    text-decoration: none;
    background-color: #0065C2;
    cursor: pointer;
}

.corporate-access-section {
    height: 320px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-button {
    font-family: "Segoe UI Semibold", sans-serif;
    font-size: 23px;
    color: #ffffff;
    background-color: #0085FF;
    border: none;
    width: 335px;
    height: 65px;
    border-radius: 10px;
    margin-top: 15px;
}

.contact-button:hover {
    text-decoration: none;
    background-color: #0065C2;
    cursor: pointer;
}

.faq-section {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 650px;
    padding: 20px 0 0 0;
}

.faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("assets/images/bg-faq-section-left.png"), url("assets/images/bg-faq-section-right.png");
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    width: 1400px;
    position: relative;
    padding-bottom: 50px;
}

.faq-content {
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.faq-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    padding: 0 10px;
    border-bottom: 1px solid #BADEFF;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: #f5f5f5;
    border: none;
    font-size: 1.3rem;
    font-family: "Segoe UI Semibold", sans-serif;
    cursor: pointer;
}

.faq-answer {
    display: none;
    color: #333;
    text-align: left;
    align-self: stretch;
    width: 100%;
    padding: 7px 0 10px 0;
    font-family: "Segoe UI", sans-serif;
    font-size: 1.2rem;
}

.faq-answer ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.faq-answer a {
    color: inherit;
}

.faq-question {
    background: none;
    border: none;
}

.faq-icon {
    width: 25px;
    height: 10px;
    transition: transform 0.3s ease;
}

.faq-item:hover {
    text-decoration: none;
    background-color: #E7F4FF;
}

.faq-item.active .faq-icon {
    transform: rotate(180deg);
}

.faq-item.active .faq-answer {
    display: block;
}

.cta-section {
    background-color: #0085FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 375px;
    background-image: url('assets/images/bg-cta-banner-section-large.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    overflow: hidden;
}

.cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-title {
    color: white;
}

.btn-demo-cta {
    font-family: "Segoe UI Semibold", sans-serif;
    font-size: 23px;
    color: #0085FF;
    background-color: #ffffff;
    border: none;
    width: 335px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.btn-demo-cta:hover {
    text-decoration: none;
    background-color: #D8EDFF;
}

.why-us-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 20px 0 0 0;
}

.why-us-btn {
    font-family: "Segoe UI Semibold", sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: #0085FF;
}

.why-us-btn:hover {
    text-decoration: none;
    color: #0065C2;
}

.why-us-list {
    list-style: none;
    padding-left: 0;
}

.why-us-item {
    font-size: 22px;
    font-family: "Segoe UI", sans-serif;
    text-align: left;
    line-height: 200%;
}

.cta-banner {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 375px;
    background-image: url('assets/images/bg-cta-banner.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    overflow: hidden;
}

.cta-banner-title {
    font-family: "Segoe UI", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #0085FF;
    text-align: center;
    text-transform: uppercase;
}

.cta-banner-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 16px;
}

.cta-banner-item {
    color: black;
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    line-height: 160%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

main,
section,
footer {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

