<header id="header" class="header-section">
    <div class="header-container">
        <a href="../index.html" class="logo-link">
            <picture>
                <source srcset="../assets/images/logo.webp" type="image/webp">
                <img src="../assets/images/logo.png" alt="Клинические рекомендации Минздрава — логотип" width="101" height="43" loading="eager">
            </picture>
        </a>
        <nav aria-label="Главное меню" class="navigation">
            <ul class="main-menu">
                <li><a href="/index.html#about">О проекте</a></li>
                <li><a href="/index.html#video">Видео-инструкция</a></li>
                <li><a href="/index.html#pricing">Тарифы</a></li>
                <li><a href="/index.html#contact">Контакты</a></li>
            </ul>
        </nav>
        <div class="header-buttons">
            <a href="../pages/login.html" class="btn btn-login btn-auth">Войти</a>
            <a href="../pages/login.html" class="btn btn-demo">Демо</a>
        </div>
        <div class="mobile-nav">
            <button class="burger-btn" aria-label="Открыть меню">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </button>

            <div class="mobile-menu">
                <nav aria-label="Мобильное меню">
                    <ul class="mobile-menu-list">
                        <li><a href="/index.html#about">О проекте</a></li>
                        <li><a href="/index.html#video">Видео-инструкция</a></li>
                        <li><a href="/index.html#pricing">Тарифы</a></li>
                        <li><a href=/index.html#contact">Контакты</a></li>
                    </ul>
                </nav>
                <div class="mobile-buttons">
                    <a href="../pages/login.html" class="btn btn-login btn-auth">Войти</a>
                    <a href="#" class="btn btn-demo">Демо</a>
                </div>
            </div>
        </div>
        <div class="overlay hidden"></div>
    </div>
</header>
